<div class="options">
    <mat-form-field class="option-form">
        <input matInput placeholder="Number of columns" value="columns" [(ngModel)]="columns">
    </mat-form-field>
    <button class="option-button" (click)="setColumns()" mat-raised-button>Continue</button>
</div>

<div class="maze">
  <mat-grid-list [style.width.px] = "width" cols="{{columns}}" rowHeight="35px">
    <div *ngFor="let i of ind; let index = index" class="board">
        <mat-grid-tile class="element">
          <img *ngIf="index === marioPosition" class="mario" src="../assets/images/mario.png" alt="">
          <img *ngIf="balls[index]===true" src="../assets/images/ball.png" class="mario" alt="">
        </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>