.maze{
    margin: 16px;
}

.element{
    max-width: 35px;
    border: 2px solid rgb(133, 133, 133);
}

.board{
    margin: 0;
    padding: 0;
}

.options{
    margin: 16px;
}

.option-button{
    background: rgb(8, 130, 230);
    color: white;
    margin-left: 16px;
}

.mario{
    width: 20px;
}